@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-blue-100: 208 214 249;
    --color-blue-900: 11 13 23;
    --color-white: 255 255 255;
  }
}

@layer utilities {
  .bg-home {
    background-image: url('~/assets/images/background-home-mobile.webp');
  }

  @media (min-width: 768px) {
    .bg-home {
      background-image: url('~/assets/images/background-home-tablet.webp');
    }
  }

  @media (min-width: 1440px) {
    .bg-home {
      background-image: url('~/assets/images/background-home-desktop.webp');
    }
  }
}
